BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE;

IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=UP ;

LOCATE COMP "clk" SITE "21";
LOCATE COMP "led[0]" SITE "46";  # D1
LOCATE COMP "led[1]" SITE "45";  # D2
LOCATE COMP "led[2]" SITE "44";  # D3
LOCATE COMP "led[3]" SITE "43";  # D4
LOCATE COMP "led[4]" SITE "40";  # D5
LOCATE COMP "led[5]" SITE "39";  # D6
LOCATE COMP "led[6]" SITE "38";  # D7
LOCATE COMP "led[7]" SITE "37";  # D8

LOCATE COMP "spi_mosi" SITE "31"; # J2-1
LOCATE COMP "spi_miso" SITE "32"; # J2-3
LOCATE COMP "spi_clk"  SITE "35"; # J2-5
LOCATE COMP "spi_csn"  SITE "28"; # J2-6

IOBUF  PORT "ebrake"    PULLMODE=UP;
LOCATE COMP "ebrake"    SITE "55";  # SW1D (4)

LOCATE COMP "pwmo[0]" SITE "69";  # J4-4
LOCATE COMP "pwmo[1]" SITE "66";  # J4-6
LOCATE COMP "pwmo[2]" SITE "65";  # J4-8
LOCATE COMP "pwmo[3]" SITE "62";  # J4-10
LOCATE COMP "pwmo[4]" SITE "61";  # J4-12
#                                 # J4-14 is GND
LOCATE COMP "pwmo[5]" SITE "116"; # J4-16
LOCATE COMP "pwmo[6]" SITE "115"; # J4-18
LOCATE COMP "pwmo[7]" SITE "114"; # J4-20

IOBUF  PORT "gpi[0]" PULLMODE=UP;
IOBUF  PORT "gpi[1]" PULLMODE=UP;
IOBUF  PORT "gpi[2]" PULLMODE=UP;
IOBUF  PORT "gpi[3]" PULLMODE=UP;
IOBUF  PORT "gpi[4]" PULLMODE=UP;
IOBUF  PORT "gpi[5]" PULLMODE=UP;
IOBUF  PORT "gpi[6]" PULLMODE=UP;
IOBUF  PORT "gpi[7]" PULLMODE=UP;
LOCATE COMP "gpi[0]" SITE "113";  # J4-22
LOCATE COMP "gpi[1]" SITE "78";   # J4-24
LOCATE COMP "gpi[2]" SITE "77";   # J4-28
LOCATE COMP "gpi[3]" SITE "74";   # J4-30
LOCATE COMP "gpi[4]" SITE "54";   # SW3
LOCATE COMP "gpi[5]" SITE "53";   # SW4
LOCATE COMP "gpi[6]" SITE "52";   # SW5
LOCATE COMP "gpi[7]" SITE "50";   # SW6

IOBUF  PORT "edrive" PULLMODE=DOWN;
LOCATE COMP "edrive" SITE "107"; # J4-36

IOBUF  PORT "ppmi[0]" PULLMODE=DOWN;
LOCATE COMP "ppmi[0]" SITE "103"; # J4-3

IOBUF  PORT "ppmi[1]" PULLMODE=DOWN;
LOCATE COMP "ppmi[1]" SITE "102"; # J4-5

LOCATE COMP "ppmo[0]" SITE "101"; # J4-7
LOCATE COMP "ppmo[1]" SITE "100"; # J4-9
LOCATE COMP "ppmo[2]" SITE "99";  # J4-11
#                                   # J4-13 is GND
LOCATE COMP "ppmo[3]" SITE "98";  # J4-15
LOCATE COMP "ppmo[4]" SITE "96";  # J4-17
LOCATE COMP "ppmo[5]" SITE "94";  # J4-19
LOCATE COMP "ppmo[6]" SITE "93";  # J4-21
LOCATE COMP "ppmo[7]" SITE "92";  # J4-23
LOCATE COMP "ppms"    SITE "91";  # J4-27


LOCATE COMP "trigger" SITE "104";

# SRAM control
LOCATE COMP "sr_cs" SITE "142";
LOCATE COMP "sr_we" SITE "144";
LOCATE COMP "sr_oe" SITE "143";

# SRAM address
LOCATE COMP "sr_adr[0]" SITE "119";
LOCATE COMP "sr_adr[1]" SITE "120";
LOCATE COMP "sr_adr[2]" SITE "121";
LOCATE COMP "sr_adr[3]" SITE "122";
LOCATE COMP "sr_adr[4]" SITE "123";
LOCATE COMP "sr_adr[5]" SITE "124";
LOCATE COMP "sr_adr[6]" SITE "125";
LOCATE COMP "sr_adr[7]" SITE "127";
LOCATE COMP "sr_adr[8]" SITE "129";
LOCATE COMP "sr_adr[9]" SITE "130";
LOCATE COMP "sr_adr[10]" SITE "131";
LOCATE COMP "sr_adr[11]" SITE "132";
LOCATE COMP "sr_adr[12]" SITE "133";
LOCATE COMP "sr_adr[13]" SITE "134";
LOCATE COMP "sr_adr[14]" SITE "137";
LOCATE COMP "sr_adr[15]" SITE "138";
LOCATE COMP "sr_adr[16]" SITE "141";

# bi-dir data bus
LOCATE COMP "sr_dio[0]" SITE "1";
LOCATE COMP "sr_dio[1]" SITE "2";
LOCATE COMP "sr_dio[2]" SITE "5";
LOCATE COMP "sr_dio[3]" SITE "6";
LOCATE COMP "sr_dio[4]" SITE "7";
LOCATE COMP "sr_dio[5]" SITE "8";
LOCATE COMP "sr_dio[6]" SITE "9";
LOCATE COMP "sr_dio[7]" SITE "10";

IOBUF  PORT "sr_dio[0]" PULLMODE=UP;
IOBUF  PORT "sr_dio[1]" PULLMODE=UP;
IOBUF  PORT "sr_dio[2]" PULLMODE=UP;
IOBUF  PORT "sr_dio[3]" PULLMODE=UP;
IOBUF  PORT "sr_dio[4]" PULLMODE=UP;
IOBUF  PORT "sr_dio[5]" PULLMODE=UP;
IOBUF  PORT "sr_dio[6]" PULLMODE=UP;
IOBUF  PORT "sr_dio[7]" PULLMODE=UP;

FREQUENCY 50.000000 MHz;
