BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;

IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=UP ;

LOCATE COMP "clk" SITE "21";
LOCATE COMP "led[3]" SITE "37";
LOCATE COMP "led[2]" SITE "38";
LOCATE COMP "led[1]" SITE "39";
LOCATE COMP "led[0]" SITE "40";

LOCATE COMP "spi_mosi" SITE "31";
LOCATE COMP "spi_miso" SITE "32";
LOCATE COMP "spi_clk" SITE "35";
LOCATE COMP "spi_csn" SITE "28";

LOCATE COMP "probe" SITE "104";

FREQUENCY 50.000000 MHz;
